span a {
    color: #FFF !important;
    font-size: 15px;
}
#main-logo {
    width: 162px;
    margin-top: -13px;
}
form{
    justify-content: center;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
    margin: 0;
    font-family: 'Roboto';
}

.robot{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    
    color: #cf0a2c;
}

.es{
    color: blue;
}
 .ed{
     background-color:#FFF;
 }

